<div class="jumbotron col-lg-8 col-lg-offset-2 text-center login-page">
  <h1><%= t('title') %></h1>
  <p><%= t('users.login_page_message') %></p>
  <p>
    <a class="btn btn-lg btn-social btn-facebook" href=<%= facebook_login_path %>>
      <span class="fa fa-facebook"></span>
      <%= t('users.facebook_login') %>
    </a>
  </p>
</div

